@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
ul{
    list-style-type: none;
}
body{
    background-color: #F8F8FA;
}
#first{
    display:flex;
    gap:20px;
    font-size: 15px;
    color:#9A7BF8;
    margin-top:15px;
}
nav{
    border:2px solid #4819FB;
    background-color: #4819FB;
    display:flex;
    justify-content:space-between;
    padding:0px 30px;
    font-family: "poppins";
    height:100px;
}
#head{
    font-size:40px;
    margin-top:50px;
}
#head:before{
    border:2px solid white;
    content: " ";
    height:0px;
    width:55px;
    margin-bottom:15px;
    display:block;
    margin-top:10px;
}
#footer{
    font-size:15px;
    margin-top:15px;
    margin-bottom:50px;
}
#btn{
    border:1px solid  #F5F5F2;
    height:20px;
    width:55px;
    color:#8070B4;
    background-color: #F5F5F2;
}
#main{
    display:flex;
    justify-content: space-between;
}
#head,#footer{
    border:2px solid  #4819FB;
    background-color:  #4819FB;
    color:#FFF3FF;
    height:140px;
    padding:50px 30px;
} 
p{
    font-size:14px;
}
#lmain{
    background-color:#4819FB ;
    width:920px;
    font-family:"poppins";
}
#person{
    height:550px;
    margin-top:0px;
    position:absolute;
    right:0px;
    top:60px;
}
#second{
    color:black;
    display:flex;
    background-color:#F8F8FA;
    gap:40px;
}
#companies{
    border:2px solid #F8F8FA;
    font-weight: 700;
    font-size:18px;
    background-color: #F8F8FA;
    height:50px;
    position:absolute;
    width:850px;
    top:450px;
    padding:10px 30px 10px 30px;
}
#two{
    background-color:#F8F8FA ;
    height:500px;
    padding:80px 30px 10px 30px;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-family: "poppins";
}
#boxes{
    display:flex;
    justify-content: space-between;
}
#b1,#b2,#b3,#b4,#b5{
    height:240px;
    width:220px;
    padding:30px 0px 0px 10px;
}
#b1:hover,#b2:hover,#b3:hover,#b4:hover,#b5:hover{
    border:2px solid #b4abab;
    background-color: #FFFFFF;
    border-radius:10px;
    box-shadow:2px 2px 2px #b4abab;
}
#three{
    background-color:#F8F8FA;
    font-family: "poppins";
    padding:5px 30px;
}
#third{
    display:flex;
    justify-content: space-between;
}
#part1,#part2{
    display:flex;
}
#matter1,#matter2{
    margin-top:40px;
    border:2px solid white;
    background-color: white;
    width:320px;
    height:320px;
    padding:40px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
#images{
    display:flex;
    justify-content: space-between;
}
#img1,#img2{
    height:320px;
    margin-top:40px;
}
#circle1{
    position:absolute;
    top:1442px;
    left:410px;
    height:40px;
}
#circle2{
    position:absolute;
    top:1442px;
    right:240px;
    height:40px;
}
#name1{
    position:absolute;
    top:1435px;
    left:480px;
    font-size: 11px;
}
#name2{
    position:absolute;
    top:1435px;
    right:130px;
    font-size: 11px;
}
#four{
    margin-top:10px;
    background-color: #E9EBFF;
    font-family: "poppins";
    padding:30px 30px;
    display:flex;
    justify-content: space-between;
    margin-top:60px;
    height:330px;
}
#btn2{
    border:2px solid #664DD7;
    background-color: #664DD7;
    color:white;
    height:30px;
    width:80px;
    padding:1px;
}
#yimg{
    height:335px;
    width:50%;
    position:absolute;
    top:1520px;
    right:0px;
}
#purple{
    display:flex;
    flex-direction:column;
    gap:20px;
}
#five{
    height:150px;
    font-family: "poppins";
    padding:30px 30px;
    background-color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
span{
    font-weight:bolder;
}
#spn{
    font-size: 22px;
}
#email{
    border:2px solid #EAECFF;
    background-color: #EAECFF;
    border-radius: 25px;
    padding:15px 400px 15px 20px;
}
#btn3{
    border:2px solid #4819FB;
    background-color:#4819FB;
    color:white;
    height:37px;
    width:110px;
    border-radius:25px ;
    position:absolute;
    left:1295px;
    margin-top:5px;
}
#input{
    display:flex;
}
#six{
    height:180px;
    font-family: "poppins";
    background-color:#4819FB;
    padding:40px 30px;
}
#media{
    display:flex;
    gap:20px;
    height:15px;
    
}
#nfirst,#nlast{
    display:flex;
    justify-content: space-between;
}
#flist,#llist{
    display:flex;
    color:#946CFC;
    font-size: 11px;
    gap:20px;
    margin-top:20px;
}
